<p style="color: green"><%= notice %></p>

<h1 class="text-center">Friends</h1>

<div id="friends">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Github</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  <% @friends.each do |friend| %>
    <%= render friend %>
  <% end %>
</tbody>
</table>
</div>

<%= link_to "New friend", new_friend_path , class:"btn btn-success" %>
