<h1 class="text-center mb-4">New friend</h1>

<%= render "form", friend: @friend %>
<div class="container" style="padding-left : 180px ; margin-top : 18px">
<%= link_to "Back to friends", friends_path , class:"btn btn-warning ml-4" %>
</div>

<br>
