<div class="jumbotron">
  <h1 class="display-4">Welocome To C Programming Language</h1>
  <p class="lead">This is a simple course of c language we gonna be learning a lot of thing , control statement and functions also as pointers</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Start Learning</a>
</div>
